{% extends "blog/base.html" %} 
{% load blog_tags %} 

{% block title %}The Wise Weasel{% endblock %} 

{% block content %}
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %} 
  <!--Post Content Column-->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        {% for post in posts %}
          <article class="media content-section">
            <img class="post-author-thumbnail" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
              <div class="post-metadata">
                <a class="mr-2" href="{% url 'blogApp:user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.publish|date:"F d, Y" }}
                  Tags: {% for tag in post.tags.all %}
                  <a class='text-muted' href="{% url 'blogApp:post_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                  </a>
                  {% if not forloop.last %}/{% endif %} 
                  {% endfor %}
                </small>
              </div>
              <h2><a class="post-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
              <p class="post-content">{{ post.body|markdown|truncatewords_html:30 }}</p>
              <a class="btn btn-outline-secondary btn-sm" href="{{ post.get_absolute_url }}">Read More</a> 
            </div>
          </article> 
        {% endfor %}
      </div>

      <!--Right Info Column-->
      <div class="col-md content-section info">
        <h3>Wise Weasel Blog</h3>
        <p class='text-muted'>You can put any information here you'd like. There is {% total_posts %} posts so far!
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Latest Posts: {% show_latest_posts 3 %}</li>
            <li class="list-group-item list-group-item-dark">Popular Posts: {% get_most_commented_posts 3 as most_commented_posts %}<ul>{% for post in most_commented_posts %}<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>{% endfor %}</ul></li>
            <li class="list-group-item list-group-item-dark">
              <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
              <a href="https://twitter.com/explore" class="fa fa-twitter"></a>
              <a href="https://www.google.com/" class="fa fa-google"></a>
              <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
              <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            </li>
            <li class="list-group-item list-group-item-dark"><a href="{% url 'blogApp:post_feed' %}">Subscribe to RSS Feed</a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <!--Pagination-->
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info waves-effect mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info waves-effect mb-4" href="?page= {{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info waves-effect mb-4" href="?page= {{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info waves-effect mb-4" href="?page= {{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info waves-effect mb-4" href="?page= {{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info waves-effect mb-4" href="?page= {{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}
{% endblock %}