/*------------MY CUSTOM TAGS--------------*/
body {
    background: grey;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

p {
    color: black;
}

/* Nav Bar Style */
.nav-bg {
    background-image: linear-gradient(to bottom right, rgba(150, 150, 150, 0.9), rgb(0, 201, 252, 0.4));
}

.site-header .navbar-nav .nav-link {
    color: #686868;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}
/* END Nav Bar Style */

.post-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

/* Profile Page */
.profile-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.profile-heading {
    font-size: 2.5rem;
}
/* END Profile Page */
 
/* Buttons */
.mainButton {
    box-shadow: 2px 3px 5px 0px #5ad2fa;
    background:linear-gradient(to bottom, #6bd8ff 5%, #8c8c8c 100%);
    background-color:#6bd8ff;
    border-radius:15px;
    border:1px solid #fafafa;
    display:inline-block;
    cursor:pointer;
    color:#e5faff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:4px 14px;
    text-decoration:none;
    text-shadow:1px 0px 0px #a3a3a3;
}

.mainButton:hover {
    background:linear-gradient(to bottom, #8c8c8c 5%, #6bd8ff 100%);
    background-color:#8c8c8c;
}
.mainButton:active {
    position:relative;
    top:1px;
}
/* END Buttons */

/* Author Info Card */
.authorCard {
    background-color: #dddddd;
    text-align: center;
    float: left;
}

.authorTitle {
color: grey;
font-size: 18px;
}
/* END Author Info Card */

/* Home Page Post Styles */
.post-title {
    color: #444444;
}

a.post-title:hover {
    color: #428bca;
    text-decoration: none;
}

.post-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 178, 248, 0.486);
}

.post-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.post-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.post-author-thumbnail {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    display: inline-block;
    border-radius: 25%;
}
/* END Home Page Post Styles */

/* Home Info card */
.info {
    height: max-content;
  }
/* END Home Info card */

/*------------BOOTSTRAP TAGS--------------*/
/* Social Media Icons */
.fa {
    padding: 10px;
    font-size: 25px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 2px -1px;
    border-radius: 25%;
    display:inline-block;
}

.fa-home {
    font-size: 35px;
    margin: unset;
}

.fa:hover {
    opacity: 0.7;
}

.fa-sign-out {
    font-size: 27px;
}

.fa-sign-in {
    font-size: 33px;
}

.fa-user-plus {
    font-size: 30px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/* END Social Media Icons */

/*--------TEST SECTION-----------*/
.subCard {
    background-color: #dddddd;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    margin-left: 5px;
    margin-top: 10px;
}

.detail-content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    margin-left: -25px;
}
